* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-size: 16px;
}

.btnPhone {
  background: transparent;
  padding: 5px 5px;
  border: 1px solid;
  border-radius: 50px;
  letter-spacing: 1px;
  font-size: 13px;
  font-weight: 500;
  color: white;
  -webkit-box-shadow: 0 0 0 3em #b61984 inset;
          box-shadow: 0 0 0 3em #b61984 inset;
  -webkit-transition: .5s;
  transition: .5s;
}

.btnPhone:hover {
  background: white;
  border-color: #b61984;
  color: #b61984;
  font-weight: 400;
  -webkit-box-shadow: 0 0 0 1px #b61984 inset;
          box-shadow: 0 0 0 1px #b61984 inset;
}

header {
  padding: 0 100px;
  position: absolute;
  width: 100%;
}

header ul {
  font-size: 13px;
  color: inherit;
}

header ul li {
  color: #181818;
  padding: 0 20px 0 0;
  font-weight: 600;
}

header ul li a {
  color: #181818;
}

.nav-link {
  color: #181818 !important;
}

.nav-link:hover {
  font-size: 13px;
  font-weight: 600;
  color: #b61984 !important;
}

._icon {
  line-height: inherit;
  font-size: 15px;
  display: inline-block;
  padding-top: 10px;
  padding-left: 20px;
}

._icon a {
  color: inherit;
  padding-right: 10px;
}

._icon a:hover {
  color: #b61984;
}

@media screen and (max-width: 992px) {
  header .nav-link {
    text-align: center;
    padding-left: 55px !important;
  }
  header ._icon {
    text-align: center;
  }
}

.about_top {
  height: 200px !important;
}

.about_top img {
  height: 100%;
  width: 100%;
}

.about_main {
  padding: 0 100px;
  height: 300px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 3;
  top: -150px;
}

.about_main__text {
  margin-top: 200px;
  text-align: left;
}

.about_main__text .span-heading {
  font-size: 1rem;
  color: #b61984;
}

.about_main__text .span-content {
  font-size: 4rem;
}

.about_bottom {
  position: relative;
  top: -300px;
  left: 700px;
}

@media screen and (max-width: 992px) {
  .span-content {
    font-size: 2rem !important;
  }
}

.blog {
  margin-bottom: 100px;
  background-color: #dcd1f0;
}

.blog .blog-img {
  background-color: white;
  height: 200px;
  width: 100%;
  background-image: url(../../images/Violet_top_left_wave.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.blog-content {
  overflow: hidden;
  padding: 30px 100px;
  height: 100%;
}

.blog-content__item {
  margin: 5px 0;
}

.blog-content__item .item-img {
  overflow: hidden;
}

.blog-content__item .item-img img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.blog-content__item .item-img img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.blog-content__item .item-text {
  padding: 20px;
  text-align: center;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
}

.blog .row {
  margin: 0;
}

.blog .img-botton {
  margin-top: -250px;
}

.blog .img-botton img {
  width: 100%;
  height: 200px;
}

@media screen and (max-width: 1200px) {
  .item-text {
    padding: 5px !important;
  }
  .item-text h3 {
    font-size: 1rem;
  }
}

.course {
  height: 500px;
  margin: 0;
}

.course-img {
  height: 100%;
  width: 100%;
  background-image: url(../../images/contact_inner.png);
  background-repeat: no-repeat;
}

.course-content {
  padding: 50px;
  margin-right: 200px;
  background-color: #f0f0f0e6;
  text-align: center;
}

.course-content .content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.course-content .content-item input {
  width: 50%;
  margin: 5px;
  border-radius: 20px;
  outline: none;
  padding: 2px 15px;
  border: 1px solid whitesmoke;
}

.course-content .content-item span {
  position: relative;
}

.course-content .content-item span i {
  margin-left: 10px;
  position: absolute;
  top: 15px;
  color: #b61984;
  left: 10px;
}

.course-content .content-item span input {
  padding: 5px 30px;
  width: 170px;
}

.course-content .content-item2 {
  padding: 5px;
}

.course-content .content-item2 input {
  border-radius: 20px;
  outline: none;
  padding: 2px 15px;
  border: 1px solid;
  border: 1px solid whitesmoke;
}

.course-content .content-item2 span {
  position: relative;
}

.course-content .content-item2 span i {
  margin-left: 10px;
  position: absolute;
  top: 5px;
  color: #b61984;
  left: 10px;
}

.course-content .content-item2 span input {
  width: 360px;
  padding: 5px 50px;
}

.course-content .content-item4 {
  margin-top: 20px;
  text-align: left;
}

.course-content .content-item4 button {
  padding: 5px 40px;
  border-radius: 20px;
  background: #b61984;
  color: white;
  outline: none;
  border: none;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.course-content .content-item4 button:hover {
  background: white;
  color: #b61984;
  border: 1px solid #b61984;
}

.img-bottom {
  margin-top: -250px;
  z-index: -1;
}

.img-bottom img {
  width: 100%;
}

@media screen and (max-width: 992px) {
  .course-content {
    width: 100%;
    margin-right: 0;
  }
  .course-content .content-item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 1200px) {
  .course-content {
    height: 500px;
    width: 100%;
    margin-right: 0;
  }
  .course-content .content-item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

footer {
  height: 100%;
  width: 100%;
  background-image: url(../../images/footer_background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

footer .row {
  margin: 0;
}

footer .footer-content {
  padding: 60px 150px 50px;
  color: white;
}

footer .footer-content-item {
  padding: 10px;
}

footer .footer-content-item span {
  display: block;
}

footer .footer-content-item span i {
  margin-left: 5px;
}

footer .footer-content-item2 {
  padding: 10px;
}

footer .footer-content-item2 p {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

footer .footer-content-item3 {
  padding: 10px;
  position: relative;
}

footer .footer-content-item3 .item-button {
  position: absolute;
  top: 40%;
  left: 20%;
}

footer .footer-content-item3 button {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top: 5px;
  text-align: center;
  padding: 5px 40px;
  border-radius: 20px;
  background: white;
  color: black;
  outline: none;
  border: none;
}

footer .footer-content-item3 button:first-child {
  background-color: #b61984;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

footer .footer-content-item3 button:last-child:hover {
  background-color: #b61984;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.img-bottom {
  margin-top: -250px;
  z-index: -1;
}

.img-bottom img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  footer {
    margin-top: 20px;
  }
  .item-button {
    margin-top: 15px;
  }
}
/*# sourceMappingURL=main.css.map */